* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Verdana, sans-serif;
}

#gridContainer {
text-align: center;
}

h2 {
  margin-top: 20%;
}

table {
  width: 500px;
  height: 500px;
  margin: 10% auto;
}

td {
  border: 1px solid gray;
  width: 125px;
  height: 125px;
  text-align: center;
  font-size: 70px;
  font-weight: 900;
}

.chooseToken {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

#winnerDiv {
  display: none;
  font-size: 2.5em;
  font-weight: 900;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10% auto;
  width: 350px;
  padding: 50px;
  border-radius: 200px;
}

.chooseTokenContent {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10% auto;
  width: 350px;
  padding: 50px;
  border-radius: 200px;
}

.choiceButton {
  font-size: 1.8em;
  font-weight: 900;
  width: 3em;
  height: 3em;
  margin: 20px;
  box-shadow: 5px 5px 5px 2px #ddd;
}

.chooseTokenText {
  font-size: 2.5em;
}

.top {
  border-top: none;
}
.left {
  border-left: none;
}
.right {
  border-right: none;
}
.bottom {
  border-bottom: none;
}
